<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Update Blog</title>
</head>
<body>
	<form action="?action=adduser" method="post">
		Email:
			<input type="text" name="name"/></br>
			Password:
			<input type="password" name="password"/></br>
			DOB:
			<input type="date" name="dob"/></br>
			Gender:
			<input type="text" name="gender"/></br>
			Country:
			<input type="text" name="country"/></br>
			Website:
			<input type="url" name="website"/></br>
			Newsletter:
			<input type="text" name="newsletter"/></br>
			Donate:
			<input type="text" name="donate"/></br>
		<input type="submit" value="Add"/>
	</form>
</body>
</html>